<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruver San Gabriel</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    
     <nav class="navbar navbar-expand-lg bg-light border-bottom sticky-top">
        <div class="container">

            <!-- Logo -->
            <a class="navbar-brand fw-bold text-success" href="#">
                Fruver San Gabriel
            </a> 

            <!-- Links -->
            <div class="collapse navbar-collapse" >
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" href="#">Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Productos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Sobre nosotros</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>
                    
                    
                </ul>
                <!-- Buscador -->
                <form class="form--inline d-flex me-2">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar producto" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0 " type="submit">Buscar</button>
                </form>

                <!-- Carrito -->
                <a href="#" class="btn btn-outline-success me-2">🛒 Carrito </a>
                
                <!-- Botón login -->
                <a href="#" class="btn btn-danger me-2">Iniciar sesión</a>
            </div>
        </div>
  </nav>

</body>
</html>